@model SalesMatrix.Entity.Models.User
@{
    ViewBag.Title = "Details";
}
<div class="row" ng-app="UserApp" ng-controller="UserDetails">

    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="panel panel-info">
            <div class="panel-heading">User Detail</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        @if (@Model.Picture == null)
                        {
                            <img height="150" width="150" src="~/Uploads/avatar-default.png" />
                        }
                        else
                        {
                            <img height="150" width="150" src="~/Uploads/@Model.Picture" />
                        }
                    </div>
                    <div class="col-md-8"></div>
                </div><br />
                <div class="row">
                    <div class="col-md-4">UserName</div>
                    <div class="col-md-8">@Model.UserName</div>
                </div>
                <div class="row">
                    <div class="col-md-4">Full Name</div>
                    <div class="col-md-8">@Model.FullName</div>
                </div>
                <div class="row">
                    <div class="col-md-4">Email</div>
                    <div class="col-md-8">@Model.Email</div>
                </div>
                <div class="row">
                    <div class="col-md-4">Role</div>
                    <div class="col-md-8">@Model.Role.RoleName</div>
                </div>
                <div class="row">
                    <div class="col-md-4">Status</div>
                    <div class="col-md-8">
                        @{
                            if (Model.Status == true)
                            {
                                @Html.Raw("Active")
                            }
                            else
                            {
                                @Html.Raw("Inactive")
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <a href="@Url.Action("Edit","User")?id=@Model.Id" class="DetailsClick"><span class="btn btn-sm btn-warning">Edit</span></a>
                @Html.ActionLink("Go To User List", "Index", null, new { @class = "btn btn-sm btn-info" })
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="panel panel-info">
            <div class="panel-heading">Audit Information</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">Created By</div>
                    <div class="col-md-8">@Model.CreatedBy</div>
                </div>
                <div class="row">
                    <div class="col-md-4">Created Date</div>
                    <div class="col-md-8">@Model.CreatedDate</div>
                </div>
                <div class="row">
                    <div class="col-md-4">Created From</div>
                    <div class="col-md-8">@Model.CreatedFrom</div>
                </div>
                <div class="row">
                    <div class="col-md-4">Modified By</div>
                    <div class="col-md-8">@Model.ModifiedBy</div>
                </div>
                <div class="row">
                    <div class="col-md-4">Modified Date</div>
                    <div class="col-md-8">@Model.ModifiedDate</div>
                </div>
                <div class="row">
                    <div class="col-md-4">Modified From</div>
                    <div class="col-md-8">@Model.ModifiedFrom</div>
                </div>
            </div>
        </div>
    </div>
</div>
@section UserJS{
    <script src="~/Application/Controller/User.js"></script>
}


